<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.marnik.dev1app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="nl.marnik.dev1app.MainPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.marnik.dev1app.AddPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADDPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.marnik.dev1app.PhotoPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PHOTOPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nl.marnik.dev1app.StatisticsPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STATISTICSPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>